<nav class="nav-container">
  <div class="nav-logo">
    <span class="logo-jade">Jade</span><span class="logo-arita">Arita</span>
  </div>
  <div class="nav-links">
    <button class="nav-btn" routerLink="/template-demo" routerLinkActive="active">Template Driven</button>
    <button class="nav-btn" routerLink="/reactive-demo" routerLinkActive="active">Reactive Form</button>
    <button class="nav-btn" routerLink="/register" routerLinkActive="active">Register</button>
  </div>
</nav>

<router-outlet></router-outlet>
